{% extends "nav.html" %}
{% block head %}
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
{% endblock %}
{% block body %}
    <main class="main-content">
        <div class="card" id="panel-control" data-server="{{ server_name }}">
            <h2 data-i18n="server.control">Control del servidor</h2>
            <button id="btnStart" onclick="iniciar()" data-i18n="server.start">Encender Servidor</button>
            <span id="status" data-i18n="server.disconnected">● Servidor apagado</span>
            <span id="metrics">RAM: 0 MB | CPU: 0%</span>
        </div>

        <div class="card section" id="panel-main">
            <div class="server-option">
                <img src="{{ url_for('static', filename='icons/login.svg') }}" alt="adress">
                <p><span data-i18n="server.adress">Dirección IP</span> coming soon</p>
            </div>
            <div class="server-option">
                <img src="{{ url_for('static', filename='icons/commit.svg') }}" alt="version">
                <p><span data-i18n="server.version">Versión</span> {{server['version']}}</p>
                <button class="btn btn-secondary">Cambiar</button>
            </div>
            <div class="server-option">
                <img src="{{ url_for('static', filename='icons/software.svg') }}" alt="software">
                <p><span data-i18n="server.software">Software</span> {{server['software'].capitalize()}}</p>
                <button class="btn btn-secondary">Cambiar</button>
            </div>
        </div>

        <div class="card section" id="panel-console">
            <h2>Consola en vivo</h2>
            <div id="console"> Esperando inicio del servidor...</div>
            <br>
            <input type="text" autocomplete="off" id="cmdInput" placeholder="Escribe un comando (ej: op TuNombre)" onkeydown="if(event.key==='Enter') enviarComando()">
            <button onclick="enviarComando()">Enviar</button>
        </div>

        <div class="card section" id="panel-options">
            <header>
                <img src="{{ url_for('static', filename='icons/code.svg') }}" alt="properties">
                <h2>server.properties</h2>
            </header>
            asd
            <br>
            asd
            <br>
            asd
            <footer>Nota: tenés que reinciar tu servidor para que estas configuraciones hagan efecto</footer>
        </div>
        <style>#panel-console{display:none;}#panel-options{display:none;}</style>
    </main>

    <dialog id="shut-down-modal">
        <h2>Seguro de que quieres apagar el servidor?</h2>
        <button id="modal-yes-button">Sí</button>
        <button id="modal-no-button">No</button>
    </dialog>
<script src="{{ url_for('static', filename='js/server.js') }}"></script>
{% endblock %}